.git
.gitignore
.env
.env.*
!.env.example
!.env.testing.example
!.env.production.example

vendor
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
database/*.sqlite
database/*.sqlite-*
.phpunit.cache
.phpunit.result.cache
tests
coverage
npm-debug.log
yarn-error.log
