.git
.gitignore
.env
.env.*
!.env.example
!.env.testing.example
!.env.production.example

node_modules
.next
out
dist
coverage
test-results
playwright-report
*.tsbuildinfo
npm-debug.log
yarn-error.log
pnpm-debug.log
