NODE_ENV=production
NEXT_PUBLIC_API_BASE_URL=https://api.staging.example.com
NEXT_PUBLIC_ASSET_BASE_URL=https://assets.staging.example.com
NEXT_PUBLIC_STOREFRONT_BASE_URL=https://staging.example.com
STOREFRONT_BASE_URL=https://staging.example.com

NEXT_PUBLIC_DEFAULT_STORE=
DEFAULT_STORE_IDENTIFIER=
